<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style type="text/css">
    body>section section {
      border: darkcyan 1px dotted;
    }
  </style>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script type="text/javascript" src="./index.js"></script>

</head>
<body>
  <section id="content">
    <input type="text" placeholder="Enter phone number">
    <input type="text" v-model="message">
    <p v-bind:title="message">Message: {{message}}</p>

    <p v-if="showTime">Current time: {{time}}</p>

    <br><br>
    <comment v-for="comment in comments" v-bind:data="comment"></comment>

    <br><br>
    <button @click="handleClick">Press me</button>



    <br><br>
    <section cid="FirstComp" is="my-comp">

      {{message}}
    </section>

    <section cid="SecondComp" is="my-comp">
    </section>
    <br><br>

    <another-comp>
      Foo bar
    </another-comp>
    <br><br>

    <my-awesome-list :items="listItems">
      <template scope="props" slot="item">
        <li>
          {{message}} --
          {{props.text}}
        </li>
      </template>
    </my-awesome-list>

    <my-footer></my-footer>

    <br><br>
  </section>
<!--  <section foo="footer">
    <a v-for="link in links" :href="link.url">
      {{link.title}}<img v-bind:src="link.imgSrc">
    </a>
  </section>-->

  <script type="text/javascript">
    Vue.component('my-comp', {
      template: `
        <section>
          <h5>Component's New World</h5>
          <slot>
            Fallback for {{cid}}
          </slot>
        </section>
      `,
      props: ['cid']
    });

    Vue.component('another-comp', {
      template: `
        <section>
          <h5>Another header</h5>
          <div>Another component</div>
          <slot></slot>
        </section>
      `
    });
    Vue.component('my-awesome-list', {
      props: ['items'],
      template: `
      <section>
        <h3k>Beat this list if you can!</h3>
        <ul style="color: darkmagenta;">
          <slot name="item"
            v-for="item in items"
            :text="item.text">
            <!-- fallback content here -->
          </slot>
        </ul>
      </section>
      `
    })
  </script>


</body>
</html>